html>body {
    margin: 0;
    background: linear-gradient(to bottom, rgba(69, 39, 160, 0.1), rgba(69, 39, 160, 0)) no-repeat;
    background-color: #111;
    background-size: 100% 1224px, auto auto;
    color: #EEE;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content {
    font-size: 1em;

    a {
        color: inherit;
        text-decoration: none;
    }
}

:local {
    .index-page {
        >p {
            margin: 0;
        }

        >header {
            font-size: 4em;
            padding: 16px;
            text-transform: uppercase;

            h1 {
                margin: 0px;
                font-size: 1em;
            }
        }

        >nav {
            display: flex;
            justify-content: left;
            background: black;

            a {
                text-align: center;
                max-width: 120px;
                flex: 1;
                font-weight: 500;
                height: 48px;
                box-sizing: border-box;
                display: inline-block;
                line-height: 48px;
                opacity: 0.75;
                cursor: pointer;
                border-bottom: 4px solid transparent;
                outline: transparent;

                &:not([disabled]):hover,
                &:not([disabled]):focus {
                    background: rgba(255, 255, 255, 0.87);
                    color: rgba(0, 0, 0, 0.87) !important;
                    opacity: 1;
                    border-bottom-color: rgba(255, 255, 255, 0.87);
                }

                &[disabled] {
                    opacity: 0.55;
                }

                &.active {
                    opacity: 1;
                    border-bottom-color: rgba(255, 255, 255, 0.87);
                }
            }
        }

        >.content {
            padding: 32px;
            background: #121212;
        }
    }
}